body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(22,8,73,1) 100%);
}

p {
    color:#ffffff;
    font-size: 20px;
}

h1, h2, h3 {
    color: hsl(0, 0%, 82%);
    font-weight: bolder;
    font-size: 200%;
}

img {
    border-radius: 50%;
    width: 200;
    height: 200px;
    display: inline-block;

}

.box {
    background-color: #070a1e;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#sub-header {
    margin-top: 20px;
    text-align: center;
}

#sub-header a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}

#sub-header a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.name {
    font-weight: bold;
    color: #dde1ff;
    margin-right: 10px;
}